@font-face {
  font-family: 'Renner';
  src: local('Renner'), url('./fonts/Renner_\ 400\ Book.ttf') format('truetype');
}

:root {
  --font: 'Renner';
  --default-margin: 1em; 
  
  --primary-hs: 238, 100%;
  --secondary-hs: 231, 14%;

  --correct-hs: 120, 60%; 
  --false-hs: 345, 95%; 

  --darker: hsl(var(--secondary-hs), 19%);
  --dark: hsl(var(--secondary-hs), 40%);
  --main: hsl(var(--primary-hs), 69%);
  --light: hsl(var(--secondary-hs), 95%);
  --lighter: hsl(var(--secondary-hs), 100%);

  --correct: hsl(var(--correct-hs), 50%);
  --false: hsl(var(--false-hs), 50%); 
}

/* General Rules */

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: var(--font); 
  color: var(--darker);
  background-color: var(--lighter);
  line-height: 1.7;
  margin-bottom: 4em;
}

button {
  background-color: var(--main); 
  color: var(--lighter);
  font-size: 1rem; 
  font-family: var(--font);
  text-transform: uppercase;
  padding: 0.5em 2em 0.4em;
  margin-top: 1em;
  margin-bottom: 0.8em;
  border: none; 
  cursor: pointer;
}

a {
  color: var(--darker); 
  border-bottom: 2px solid var(--main);
  text-decoration: none;
}

header {
  background-color: var(--main);
  color: var(--lighter);
}

#cake {
  fill: var(--lighter); 
  width: 24px;
  height: 24px;  
  margin: auto 0.5em; 
}

header h1 {
  font-size: calc(1.5rem + 0.5vw);
  font-weight: 400;
  display: inline-block;
}

header p {
  display: none; 
}

h2 {
  display: inline-block;
  padding: 10px; 
  position: relative; 
  left: 50%; 
  transform: translateX(-50%);
}

input:not([type="checkbox"]) {
  display: block; 
  font-size: 1.2rem;
  padding: 0.5em 0.5em 0.3em; 
  font-family: var(--font);
  border-radius: 0; 
  border: 1px solid var(--dark); 
}

input[type="checkbox"] {
  cursor: pointer;
}

.sr-only {
  position: absolute; 
  left: -1000px; 
  width: 1px; 
  height: 1px; 
  overflow: hidden; 
}

.center {
  text-align: center;
}

.default {
  margin: var(--default-margin);
}

#main-nav {
  width: 100%; 
  position: fixed; 
  bottom: 0;
  left: 0; 
  right: 0; 
  background-color: var(--darker);
  z-index: 1; 
}

#main-nav ul {
  list-style-type: none;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
}

#main-nav li {
  width: 100%; 
  text-align: center;
}

#main-nav a {
  font-size: 1rem;
  display: inline-block;
  color: var(--light);
  text-decoration: none;
  width: 100%; 
  padding: 0.6em 0.5em 0.5em;  
  border-bottom: none; 
}

#main-nav a.active {
  background-color: var(--dark);
}

.secondary-nav {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.secondary-nav button {
  background-color: var(--darker);
  text-decoration: none;
  display: inline-block; 
  width: 100%; 
  text-align: center;
  padding: 0.7rem 2rem 0.5rem;
  color: var(--lighter);
  margin: 0; 
}

.secondary-nav button.active {
  background-color: var(--dark);
}

.tense-selector div {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
}

.tense-selector > p:first-of-type {
  font-weight: 600;
  font-size: 1.2rem;
}

.tense-selector label {
  display: block; 
  margin: 5px 0; 
}

input[type="checkbox"] {
  margin-right: 5px;
  position: relative; 
  top: 2px; 
}

.count {
  background-color: var(--darker); 
  color: var(--lighter); 
  padding: 10px;
  float: right; 
}

.quizcard {
  clear: right; 
  font-size: 1.1rem;
  text-align: center;
}

.infinitive {
  font-size: 1.8rem;
  font-weight: 600;
}

.star {
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: -3px;
  fill: transparent; 
}

.star:not(.bookmarked) {
  stroke: var(--main);
  stroke-width: 1px; 
  stroke-linejoin: miter;
}

.star.bookmarked {
  fill: var(--main);
}

.translation {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.tense {
  font-size: 1.2rem;
  color: var(--dark);
}

.pronoun {
  font-size: 1.3rem;
  color: var(--main);
}

.quizcard input {
  margin: auto; 
}

.no-tap-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.tap-to-see {
  cursor: pointer;
}

.tap-to-see, 
.flashcard-result {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0.3em 0 0.5rem; 
}

.tap-to-see { 
  color: var(--dark);
  border-bottom: 1px solid var(--dark)
}

.test-answer {
  margin-top: 10px; 
}

.correct, 
.false {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.correct {
  color: var(--correct); 
}

.false {
  color: var(--false); 
}

.test-solution {
  font-size: 1.2rem;
  text-decoration: underline; 
}

.loading {
  text-align: center;
  font-size: calc(1rem + 2vw); 
  color: var(--dark);
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Account Page */
.logout {
  float: right; 
}

.account {
  clear: right; 
}

.account h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em; 
}

.account h4 {
  font-size: 1.2em;
}

.account input[type="checkbox"] {
  margin-top: 10px;
}

.account-grid {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 1em; 
}

.account-grid > div {
  background-color: var(--light);
  padding: 1em;
}

.account-grid input:not(input[type="checkbox"]) {
  width: 100%; 
}

.password h2 {
  position: static; 
  left: 0; 
  transform: translateX(0);
  padding: 0; 
}


/* Verbs Overview Page */
.search {
  background-color: var(--light);
  display: flex; 

  align-items: center;
  padding: 0.5rem;
  text-align: right;
}

.search input {
  display: inline; 
  font-size: 0.9rem;
  width: 75%;
}

.search button {
  margin: auto 0 auto 10px; 
  width: 25%; 
  padding-left: 0;
  padding-right: 0;
}

.search-reset {
  float: right; 
  margin-right: 1rem;
}

.search-title {
  clear: right; 
  text-align: center;
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  padding-top: 1em;  
}

.conjugation {
  text-align: center;
}

.conjugation .translation {
  margin-bottom: 0;
}

.conjugation-card {
  background-color: var(--light);
  margin-bottom: var(--default-margin);
  margin-top: var(--default-margin);
}

.conjugation-card-verb .tense {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.conjugation-card-verb > span {
  display: inline-block; 
  margin: 1%;
}

.conjugation-card-verb .pronoun {
  text-align: right;
  width: 45%;
}

.conjugation-card-verb .verb {
  text-align: left;
  font-size: 1.3rem;
  width: 50%;
}

/* Focus Rules */
button:focus {
  background-color: hsl(var(--false-hs), 45%);
  outline: none; 
}

a:focus {
  border-bottom: none; 
  color: hsl(var(--false-hs), 45%); 
  outline: 2px solid hsl(var(--false-hs), 45%); 
  outline-offset: 2px;
}

#main-nav a:focus,
#main-nav a.active:focus, 
.secondary-nav button:focus,
.secondary-nav button.active:focus {
  background-color: hsl(var(--false-hs), 45%);
  outline: none; 
}

input:focus {
  outline: 2px solid hsl(var(--false-hs), 45%);
  outline-offset: -1px;
}

/* Unless user starts tabbing don't apply focus rules */
.no-focus-outline :is(a:focus, button:focus, input:focus) {
  outline: none;
}

.no-focus-outline a:focus {
  color: var(--darker);
}

.no-focus-outline button:focus {
  background-color: var(--main);
}

.no-focus-outline #main-nav a:focus,
.no-focus-outline .secondary-nav button:focus {
  background-color: var(--darker);
}

.no-focus-outline #main-nav a.active:focus, 
.no-focus-outline button.active:focus {
  background-color: var(--dark);
}

/* Only apply hover on devices where user can hover */
@media not all and (hover: none) {
  button:hover {
    background-color: var(--darker); 
  } 
  
  a:hover {
    color: var(--main);
  }
  
  #main-nav a:hover,
  #main-nav a.active:hover, 
  .secondary-nav button:hover,
  .secondary-nav button.active:hover {
    background-color: var(--light);
    color: var(--darker);
  }
}

@media screen and (min-width: 38em) {
  .conjugation-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 10px 0;
  }

  .conjugation-card {
    margin: 0;
  }
}

@media screen and (min-width: 50em) {
  :root {
    --default-margin: 1em 2em; 
  }

  /* Navigation and Header */
  .header-flex {
    background-color: var(--main);
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }

  header {
    display: inline-block; 
    width: auto; 
  }

  #main-nav {
    width: auto; 
    float: right; 
    position: static; 
    background-color: transparent;
  }

  #main-nav li {
    min-width: 7em; 
  }
  
  #main-nav a {
    font-size: 1.3rem; 
    color: var(--lighter);
  }
  
  #main-nav a.active {
    background-color: transparent; 
    position: relative; 
  }

  #main-nav a.active::after {
    content: ''; 
    position: absolute; 
    background-color: var(--lighter); 
    height: 2px; 
    width: 50%;
    bottom: 0.5em;
    left: 50%; 
    transform: translateX(-50%);  
    border-radius: 5px;
  }

  @media not all and (hover: none) {
    #main-nav a:hover,
    #main-nav a.active:hover {
      background-color: hsl(var(--primary-hs), 79%);
      color: var(--lighter);
    }
  }

  .no-focus-outline #main-nav a:focus, 
  .no-focus-outline #main-nav a.active:focus {
    background-color: var(--main);
  }

  /* Secondary Nav */
  .secondary-nav {
    margin: 0 auto;
    width: 50%; 
  }
  
  .secondary-nav button {
    min-width: 4em;
    margin: 1em 0.5em;
  }

  .tense-selector div {
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* Account */
  .account-grid {
    grid-template-columns: 1fr 1fr;
  }

  /* Search */
  .search {
    padding: 1em;
  }

  .search input {
    width: 80%;
  }
  
  .search button {
    width: 20%; 
  }
}

@media screen and (min-width: 64em) {
  :root {
    --default-margin: 1em 4em; 
  }

  header p::before {
    content: '- ';
  }

  .secondary-nav {
    margin: 2em auto; 
  }

  .tense-selector div {
    grid-template-columns: repeat(4, 1fr);
  }

  .search input {
    width: 90%;
  }
  
  .search button {
    width: 10%; 
  }

  .conjugation-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 1em 0; 
  }
}

@media screen and (min-width: 80em) {
  header p {
    display: inline; 
    margin-left: 4px;
  }
}

@media screen and (min-width: 120em) {
  :root {
    --default-margin: 1em 6em; 
  }

  .tense-selector div {
    grid-template-columns: repeat(5, 1fr);
  }

  .conjugation-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin: 2em 0; 
  }

  .account-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}