@font-face {
  font-family: 'Renner';
  src: local('Renner'), url('./fonts/Renner_\ 400\ Book.ttf') format('truetype');
}

:root {
  --font: 'Renner';
  --darker: #282A35;
  --dark: #585c74; 
  --light: #f1f1f1; 
  --main: #6368ff;

  --correct: #33cc33;
  --false: #E5063E; 
}

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body {
  font-family: var(--font); 
  color: var(--darker);
  line-height: 1.7;
  margin-bottom: 4em;
}

button {
  background-color: var(--main); 
  font-family: var(--font);
  color: #fff; 
  padding: 0.5rem 2rem 0.4rem;
  border: none; 
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

header {
  background-color: var(--main);
  color: #fff;
}

#cake {
  fill: #fff; 
  width: 24px;
  height: 24px;  
  margin: auto 0.5em; 
}

header h1 {
  font-size: calc(16px + (30 - 16) * ((100vw - 280) / (2000 - 280)));
  font-weight: 400;
  display: inline-block;
}

header p {
  display: none; 
}

input:not([type="checkbox"]) {
  display: block; 
  font-size: 1.2em;
  padding: 10px 10px 5px; 
  font-family: var(--font);
  border-radius: 0; 
  border: 1px solid var(--dark); 
}

input[type="checkbox"] {
  cursor: pointer;
}

.sr-only {
  position: absolute; 
  left: -1000px; 
  width: 1px; 
  height: 1px; 
  overflow: hidden; 
}

.center {
  text-align: center;
}

#main-nav {
  width: 100%; 
  position: fixed; 
  bottom: 0;
  left: 0; 
  right: 0; 
  background-color: var(--darker);
  z-index: 1; 
}

#main-nav ul {
  list-style-type: none;
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
}

#main-nav li {
  width: 100%; 
  text-align: center;
}

#main-nav a {
  font-size: calc(16px + (30 - 16) * ((100vw - 280) / (2000 - 280)));
  display: inline-block;
  color: var(--light);
  text-decoration: none;
  width: 100%; 
  padding: 10px; 
}

#main-nav a.active {
  background-color: var(--dark);
}

h2 {
  display: inline-block;
  padding: 10px; 
  position: relative; 
  left: 50%; 
  transform: translateX(-50%);
}

.secondary-nav {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.secondary-nav button {
  background-color: var(--darker);
  text-decoration: none;
  display: inline-block; 
  width: 100%; 
  text-align: center;
  padding: 0.5rem 2rem 0.4rem;
  color: #fff;
  margin: 0; 
}

.secondary-nav button.active {
  background-color: var(--dark);
}

.tense-selector {
  padding: 1rem; 
}

.tense-selector > p:first-of-type {
  font-weight: 600;
  font-size: 1.2em;
}

.tense-selector label {
  display: block; 
  margin: 10px 0 0; 
}

input[type="checkbox"] {
  margin-right: 5px;
  position: relative; 
  top: 2px; 
}

.count {
  background-color: var(--darker); 
  color: #fff; 
  padding: 10px;
  float: right; 
}

.quizcard {
  clear: right; 
  font-size: 1.1rem;
  text-align: center;
}

.infinitive {
  font-size: 1.8em;
  font-weight: 600;
}

.star {
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: -3px;
  fill: #ccc;
}

.star.bookmarked {
  fill: var(--main);
}

.translation {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.tense {
  font-size: 1.2em;
  color: var(--dark);
}

.pronoun {
  font-size: 1.3em;
  color: var(--main);
}

.quizcard input {
  margin: auto; 
}

.tap-to-see {
  cursor: pointer;
}

.tap-to-see, 
.flashcard-result {
  display: inline-block;
  margin: 0.3em 0 0.5rem; 
  font-size: 1.5em;
}

.tap-to-see { 
  color: var(--dark);
  border-bottom: 1px solid var(--dark)
}

.test-answer {
  margin-top: 10px; 
}

.correct, 
.false {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
}

.correct {
  color: var(--correct); 
}

.false {
  color: var(--false); 
}

.test-solution {
  text-decoration: underline;
  font-size: 1.2em; 
}

.finish-practicing {
  position: absolute; 
  bottom: 4em;
  left: 50%; 
  transform: translateX(-50%);
  background-color: transparent; 
  color: var(--main); 
  border-bottom: 1px solid var(--main);
  padding: 0; 
  margin-top: 2em;
}

.loading {
  text-align: center;
  font-size: calc(1em + 2vw); 
  color: var(--dark);
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Account Page */
.logout {
  float: right; 
  margin-right: 1em;
}

.account {
  clear: right; 
  padding: 1em; 
}

.account h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em; 
}

.account h4 {
  font-size: 1.2em;
}

.account input[type="checkbox"] {
  margin-top: 10px;
}

.account-grid {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 1em; 
}

.account-grid > div {
  background-color: var(--light);
  padding: 1em;
}

.account-grid input:not(input[type="checkbox"]) {
  width: 100%; 
}

.password {
  margin: 1rem;
}

.password h2 {
  position: static; 
  left: 0; 
  transform: translateX(0);
  padding: 0; 
}


/* Verbs Overview Page */
.search {
  background-color: var(--light);
  display: flex; 

  align-items: center;
  padding: 0.5rem;
  text-align: right;
}

.search input {
  display: inline; 
  font-size: 0.9em;
  width: 75%;
}

.search button {
  margin: auto 0 auto 10px; 
  width: 25%; 
  padding-left: 0;
  padding-right: 0;
}

.search-reset {
  float: right; 
  margin-right: 1rem;
}

.search-title {
  text-align: center;
  clear: right; 
  padding-top: 1em;
  font-size: calc(1em + 1vw);
  font-weight: 600;
}

.conjugation {
  text-align: center;
}

.conjugation .translation {
  margin-bottom: 0;
}

.conjugation-card {
  background-color: var(--light);
  margin: 1rem;  
}

.conjugation-card-verb .tense {
  text-transform: uppercase;
  font-size: 1.4em;
}

.conjugation-card-verb > span {
  display: inline-block; 
  margin: 1%;
}

.conjugation-card-verb .pronoun {
  text-align: right;
  width: 45%;
}

.conjugation-card-verb .verb {
  text-align: left;
  font-size: 1.3em;
  width: 50%;
}

@media screen and (min-width:600px ) {
  .conjugation-grid {
    margin: 1em;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .conjugation-card {
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  /* Navigation and Header */
  .header-flex {
    background-color: var(--main);
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }

  header {
    display: inline-block; 
    width: auto; 
  }

  #main-nav {
    width: auto; 
    float: right; 
    position: static; 
    background-color: transparent;
  }

  #main-nav li {
    min-width: 7em; 
  }
  
  #main-nav a {
    font-size: 1.3em; 
    color: #fff;
  }
  
  #main-nav a.active {
    background-color: transparent; 
    position: relative; 
  }

  #main-nav a.active::after {
    content: ''; 
    position: absolute; 
    background-color: var(--light); 
    height: 2px; 
    width: 50%;
    bottom: 0.5em;
    left: 50%; 
    transform: translateX(-50%);  
    border-radius: 5px;
  }

  /* Secondary Nav */
  .secondary-nav {
    margin: 0 auto;
    width: 50%; 
  }
  
  .secondary-nav button {
    min-width: 4em;
    margin: 1em 0.5em;

  }
  
  /* Account */
  .account-grid {
    grid-template-columns: 1fr 1fr;
  }

  /* Search */
  .search input {
    width: 80%;
  }
  
  .search button {
    width: 20%; 
  }
}

@media screen and (min-width:1024px) {
  header p {
    display: inline; 
    margin-left: 4px;
  }

  header p::before {
    content: '- ';
  }

  .search input {
    width: 90%;
  }
  
  .search button {
    width: 10%; 
  }

  .conjugation-grid {
    margin: 2em;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }
}

@media screen and (min-width:1920px ) {
  .conjugation-grid {
    margin: 2em;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }

  .account-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}